GOOGLE_PLACES_API_KEY=AIzaSyDEeV4BvWaDdzCdlfgJ6q4nQznupoX2AHs
VITE_GOOGLE_MAPS_API_KEY=AIzaSyDEeV4BvWaDdzCdlfgJ6q4nQznupoX2AHs
PLACE_ID_TRIKUTA=ChIJAbwjQaml5jkRSnAnIAoGTb8
PLACE_ID_PARIJAYE=ChIJNTEnCgC_-DkR1MPauZ0SCkI
FIREBASE_API_KEY=AIzaSyCr0F5bj8xzZp_o4BtlAPoy6g1vnXfhAxg
GEMINI_API_KEY=